<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         printerClass="PHPUnit_TextUI_ResultPrinter"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         verbose="true">
    <testsuites>
        <testsuite name="All Tests Suite">
            <directory suffix="Test.php">./test</directory>
            <directory suffix=".phpt">./test</directory>
        </testsuite>
    </testsuites>
    <logging>
        <!--
        <log type="coverage-text" target="php://stdout" />
        <log type="coverage-html" target="./build/coverage" charset="UTF-8"
             yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70" showUncoveredFiles="true" />
        <log type="coverage-clover" target="./build/clover.xml"/>
        <log type="testdox-html" target="./build/testdox.html"/>
        -->
    </logging>
    <filter>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
